
<label id="label_comicSeries" class="site-label" for="comicSeries">Comic Series:</label>
<input id="comicSeries" name="series" type="text" value="<%= @comic.series %>">

<label id="label_comicVolume" class="site-label" for="comicVolume">Comic Volume:</label>
<input id="comicVolume" name="volume" type="text" value="<%= @comic.volume %>">

<label id="lbl_comicName" class="site-label" for="comicName">Comic Name:</label>
<input id="comicName" name="name" type="text" value="<%= @comic.name %>">

<label id="lbl_comicIssue" class="site-label" for="comicIssue">Issue:</label>
<input id="comicIssue" name="issue" type="text" value="<%= @comic.issue %>">

<label id="lbl_comicPublisher" class="site-label" for="comicPublisher">Publisher:</label>
<select id="comicPublisher" name="publisher">
  <option>-- Select a Publisher --</option>
  <option <%= "selected" if @comic.publisher == "Marvel Comics" %>>Marvel Comics</option>
  <option <%= "selected" if @comic.publisher == "DC Comics" %>>DC Comics</option>
  <option <%= "selected" if @comic.publisher == "Dark Horse Comics" %>>Dark Horse Comics</option>
  <option <%= "selected" if @comic.publisher == "Image Comics" %>>Image Comics</option>
</select>

<label id="lbl_comicStoryArc" class="site-label" for="comicStoryArc">Comic Story Arc:</label>
<input id="comicStoryArc" name="story_arc" type="text" value="<%= @comic.story_arc %>">

<label id="lbl_comicCoverDate" class="site-label" for="comicCoverDate">Cover Date (mm/dd/yyyy):</label>
<input id="comicCoverDate" class="comic-date" name="cover_date" type="text" value="<%= @comic.cover_date.strftime("%m/%d/%Y") if @comic.cover_date %>">

<label id="lbl_comicDescription" class="site-label" for="comicDescription">Description:</label>
<textarea id="comicDescription" name="description"><%= @comic.description %></textarea>

<input id="comicSubmit" class="site-button" type="submit" value="Submit">
